{%  extends 'base.html' %}

{% block title %} shop {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block main %}
<font size="4" color="#3e7872" face="Times New Roman">
    <br>
    <p>
        Для нас одежда — это больше, чем просто нужные вещи. Одежда помогает выразить своё внутреннее состояние. Одежда влияет на то, как нас воспринимают другие люди. Одежда способна подарить новые возможности: когда нам нравится, как мы выглядим, мы действуем уверенно.
    </p>
</font>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
